$color-black: #000;
$color-white: #fff;

$color-grey: #777;
$color-grey-light: rgb(173, 171, 171);
$color-grey-dark: #333;

$color-transparent: rgba(0, 0, 0, 0);

$color-primary: #000b18;

$default-font-size: 1.6rem;
