//------WAVE ANIMATION------------

.Card-hero {
  position: relative;
  height: 300px;
  border: 2px solid yellow;
}

.Card-hero-wave {
  z-index: -1;
  position: absolute;
  width: 1500px;
  height: 1500px;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  border-radius: 42.5%;
  background: transparentize(#02386d, 0.5);
  animation: waves 11s infinite linear;
  &--second {
    background: transparentize(#00264d, 0.5);
    animation: waves 12s infinite linear;
  }

  &--third {
    background: transparentize(#00172d, 0.5);
    animation: waves 14s infinite linear;
  }

  &--four {
    background: transparentize(#000b18, 0.5);
    animation: waves 16s infinite linear;
  }

  @include respond(phone) {
    top: -10%;
    left: 50%;
    width: 500px;
    height: 500px;
    border: 2px solid white;
  }
}

@keyframes waves {
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

//-----------TEXT AND BOTTOM ANIMATION WITH KEYFRAMES----------------

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInright {
  0% {
    opacity: 1;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
