*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;

  @include respond(big-desktop) {
    //1 rem = 12px, 12/16=75%
    font-size: 100%;
  }

  @include respond(tab-land) {
    //1 rem = 12px, 12/16=75%
    font-size: 75%;
  }

  @include respond(tab-port) {
    //1 rem = 8px, 8/16=50%
    font-size: 50%; //width < 900?
  }

  @include respond(phone) {
    //1 rem = 9px, 9/16=56.25%
    font-size: 56.25%; //width < 1200 ?
  }
}

body {
  border: 2px solid orange;
  background-image: linear-gradient(
      rgba($color-primary, 0.7),
      rgba($color-tertiary, 0.7)
    ),
    url(https://vsthemes.org/uploads/posts/2020-03/1584197702_screenshot_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  width: 100%;
  height: 10rem;
  border: 2px solid red;
}

.text-box {
  border: 2px solid pink;
  &__container {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.heading-primary {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &--main {
    border: 2px solid yellow;
  }
  &--sub {
    border: 2px solid yellowgreen;
  }
}

.button-container {
  border: 2px solid bisque;
  display: flex;
  justify-content: center;
}

.heading-tertiary {
  border: 2px solid aqua;
}
